@font-face {
  font-family: 'Trajan';
  src: url('fonts/Trajan_Pro_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.font-title {
    font-family: 'Trajan', sans-serif;
}

header {
    position: relative;

    margin-left: 128px;
    margin-right: 128px;
    margin-top: 32px;
    margin-bottom: 32px;

    display: flex;
}

header::before {
    content: '';
    position: absolute;
    overflow: hidden;
    top: -175px;
    left: -150px;
    width: 100%;
    height: 500px;
    background-color: black;
    z-index: -1;

    transform-origin: bottom left;
    transform: rotate(-14deg);
}

.image-with-text {
    position: relative;
}

.image-with-text > img {
    width: 300px;

    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}

.image-with-text div {
    position: absolute;

    color: white;

    width: 100%;
    text-align: center;

    font-size: 2rem;

    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.header-info {
    flex: 1;

    background-color: white;

    margin-top: 64px;
    margin-bottom: 32px;

    padding: 32px;

    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}

.header-info h1 {
    font-size: 1.5rem;
}

.header-info p {
    flex: 1;
}

.header-info .socials {
    height: 32px;
}

.socials {
    display: flex;
    flex-flow: row-reverse;
    gap: 8px;
}

.socials img {
    width: 32px;
}

.socials-small {
    display: flex;
    flex-flow: row-reverse;
    gap: 4px;
}

.socials-small img {
    width: 24px;
}

main {
    display: flex;
    flex-direction: column;

    padding: 32px;

    margin-left: 128px;
    margin-right: 128px;
}

.projects-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    width: 100%;
}

.project-display {
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}

.project-display > img {
    width: 100%;
}

.project-header, .project-description {
    padding: 16px;
}

.project-header {
    font-size: 1rem;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}